In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
v = pd.read_csv('oil_brent.csv')

In [3]:
v.head()

        Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0  30.12.2022  85,91    83,71  86,00  82,88  168,65K   4,44%
1  29.12.2022  82,26    82,88  83,14  81,28   10,99K  -1,20%
2  28.12.2022  83,26    84,60  84,76  81,92   57,56K  -1,68%
3  27.12.2022  84,68    85,00  86,10  84,19  160,09K   0,21%
4  23.12.2022  84,50    82,32  84,70  81,83  180,40K   3,47%

In [4]:
# quito columnas y dejo solo el último precio del dia

v2 = v.iloc[:, 0:2]

In [5]:
v2

          Fecha Último
0    30.12.2022  85,91
1    29.12.2022  82,26
2    28.12.2022  83,26
3    27.12.2022  84,68
4    23.12.2022  84,50
..          ...    ...
248  14.01.2022  86,06
249  13.01.2022  84,47
250  12.01.2022  84,67
251  11.01.2022  83,72
252  10.01.2022  80,87

[253 rows x 2 columns]

In [6]:
v2['Fecha'] = pd.to_datetime(v2['Fecha'], infer_datetime_format=True)

/var/folders/01/wqv196rd4sx_rrnwlvh6ksq40000gn/T/ipykernel_11642/3925488329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v2['Fecha'] = pd.to_datetime(v2['Fecha'], infer_datetime_format=True)

In [7]:
v2

         Fecha Último
0   2022-12-30  85,91
1   2022-12-29  82,26
2   2022-12-28  83,26
3   2022-12-27  84,68
4   2022-12-23  84,50
..         ...    ...
248 2022-01-14  86,06
249 2022-01-13  84,47
250 2022-01-12  84,67
251 2022-01-11  83,72
252 2022-01-10  80,87

[253 rows x 2 columns]